*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    color: #000;
    overflow-x: hidden;
    font-family: 'Cinzel', serif;
}
  
.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.navbar .navbar-brand{
    color: #97251f !important;
    text-shadow: 0 0 9px #30dbe1,
    0 0 9px #30dbe1; 
    font-size: 23px;
}
.navbar .nav-link {
    color: #97251f !important;
    text-shadow: 0 0 8px #000000,
    0 0 8px #000000; 
    font-size: 20px;
}
#otherNav{
    background: #000;
}

.nav-link {
    position: relative;
}
  
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.1s ease;
    color: #30dbe1;
}
  
.nav-link:hover::after {
    width: 95%;
    color: #30dbe1;
}

.nav-item{
    padding-left: 25px;
}
.btn {
    color: #97251f !important;
    background-color: #000;
    border-radius: 0%;
}

footer{
    background: #00000000;
    padding: 5px 5px;
    left: 0;
    bottom: 0;
    color: #97251f;
    text-shadow: 0 0 9px #000000,
    0 0 9px #000000; 
}
#otherFooter{
    background: #000000;
    padding: 15px 10px;
    left: 0;
    bottom: 0;
    color: #97251f;
}

.jumbo{
    height: 600px;
    background-size: cover;
    background-position: right;
    position: relative;
}

.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px;
    width: 500px;
    text-align: center;
}
.jumbo-content{
    text-shadow: 0 0 3px #000000,
    0 0 2px #000000; 
    cursor: default;
    color: #97251f;
}
.jumbo-content h2{
    text-shadow: 0 0 3px #30dbe1,
    0 0 2px #30dbe1; 
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    padding: 20px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

.galleryitem {
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.galleryitem:hover {
    transform: scale(1.05);
}

.galleryitem img, 
.galleryitem video {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 10%;
    padding: 10px;
    display: none;
}

.galleryitem.video .play-icon {
    display: block;
}

.lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox-content {
    max-width: 90%;
    max-height: 90%;
    position: relative;
}

.lightbox-content img, 
.lightbox-content video {
    max-width: 800px; /* Fixed maximum width */
    max-height: 800px; /* Fixed maximum height */
    object-fit: contain;
}

.close-btn {
    position: absolute;
    top: -40px;
    right: 0;
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.bios{
    margin: 30px;
}
img.displaySlide{
    animation-name: fade;
    animation-duration: 1.5s;
}
.slider button{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 2rem;
    padding: 10px 15px;
    background-color: #00000071;
    color: white;
    border: none;
    cursor: default;
}
.prev{
    left: 0;
}
.next{
    right: 0;
}
@keyframes fade{
    from{opacity: .5;}
    to {opacity: 1;}
}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 15px;
    padding: 20px;
    margin-bottom: 100px;
    padding-bottom: 50px;
}

/* bio page css*/
#bios{
    font-size: 40px;
    text-shadow: 0 0 10px #97251f,
    0 0 10px #97251f; 
}

#performers {
    text-align: center;
    margin-bottom: 45px;
    padding-bottom: 15px;
}
.performer {
    width: 1200px;
    margin: 0 auto 30px auto;
    background: #000;
    color: #97251f;
    overflow: auto;
    border-radius: 20px;
}
.performer img{
    width: 35%;
    float: left;
}
.performer-bio{
    padding: 60px;
    float: left;
    width: 65%;
    cursor: default;
}
.performer-bio h3 {
    font-size: 45px;
    margin-bottom: 25px;
    text-decoration: underline;
    text-shadow: 0 0 9px #30dbe1,
    0 0 9px #30dbe1; 
}
.performer-bio p {
    font-size: 18px;
    line-height: 1.3;
    text-shadow: 0 0 3px #1a6767,
    0 0 3px #1a6767; 
}

.instagram-link {
    display: inline-flex;
    align-items: center;
    color: #30dbe1; /* Instagram brand color */
    text-decoration: none;
    margin: 10px 0;
    transition: color 0.3s;
    text-shadow: 0 0 10px #000,
    0 0 10px #000; 
}

.instagram-link:hover {
    color: #2398ad; /* Instagram gradient color */
}

.instagram-link i {
    font-size: 1.5rem;
    margin-right: 8px;
}