*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
}
header {
    padding: 20px 35px;
    background-color: #000;
} 
header h1 {
    font-weight: bold;
    font-size: 36px;
    color: #880202;
    margin: 0;
    display: inline;
}
header a {
    text-decoration: none;
    color: #880202;
}
header nav {
    float: right;
    margin: 7px 0;
}
header nav ul li {
    display: inline;
}
header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}

footer{
    background: #000;
    width: 100%;
    padding: 40px 35px;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
}
footer h2 {
    display: inline;
    color: #880202;
    font-size: 30px;
    margin: 0;
}
footer div {
    float: right;
    line-height: 1.5;
    text-align: right;
}
footer a {
    color: #880202;
}
/*hero styling*/
.jumbo{
    background-image: url("../images/flame-circle.jpg");
    height: 600px;
    background-size: cover;
    background-position: center;
    position: relative;
}
.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(233, 42, 42, 0.333);
    padding: 20px;
    width: 500px;
    border-radius: 25px;
    text-align: center;
}
