*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: #000;
    overflow-x: hidden;
}
/*.cinzel-<uniquifier> {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  } */
  
.bg-img{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    filter: brightness(0.8);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.navbar .navbar-brand{
    color: #f0a8a4 !important;
}
.navbar .nav-link {
    color: #f0a8a4 !important;
}

.nav-link {
    position: relative;
}
  
.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: currentColor;
    transition: width 0.4s ease;
}
  
.nav-link:hover::after {
    width: 100%;
}

.nav-item{
    padding-left: 25px;
}

.btn {
    color: white !important;
}

footer{
    background: #000;
    opacity: 70%;
    padding: 15px 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    color: #f0a8a4;
}

.jumbo{
    height: 600px;
    background-size: cover;
    background-position: right;
    position: relative;
}

.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(247, 113, 113, 0.405);
    padding: 20px;
    width: 425px;
    border-radius: 25px;
    text-align: center;
}